.table {
  width: 1000px;
  height: 400px;
  background-color: #4aad4a;
  position: absolute;
  border-radius: 150px;
  position: relative;
  border: 15px solid #a95555;
}

.table:before {
  content: '';
  border: 7px solid rgba(0, 0, 0, 0.1);
  display: block;
  width: 1015px;
  height: 415px;
  border-radius: 150px;
  position: absolute;
  top: -15px;
  left: -15px;
}

.table:after {
  content: '';
  border: 7px solid rgba(0, 0, 0, 0.1);
  display: block;
  width: 985px;
  height: 385px;
  border-radius: 130px;
  position: absolute;
  top: 0;
  left: 0;
}

.table .cards {
  border: 5px solid #63c763;
  height: 100px;
  width: 340px;
  position: absolute;
  border-radius: 10px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: border-box;
}

.table .cards .card:not(:last-child) {
  margin-right: 15px;
}

.table .pot {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Houschka Rounded';
  font-weight: bold;
  font-size: 14px;
  color: #96e296;
}

.table .pot span:before {
  content: '€';
}

.table .players .player-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.bank {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 100px;
  right: 0;
  z-index: 10;
}

.bank .bankValue {
  position: absolute;
  font-family: 'Houschka Rounded';
  right: -30px;
  font-weight: bold;
  font-size: 12px;
  color: #96e296;
}

.bank .bankValue:before {
  content: '€';
}

.players {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
}
